<footer>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h2>about</h2>
        <ul>
          <li><a href="#">Event</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Agency</a></li>
          <li><a href="#">Start-up</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>service</h2>
        <ul>
          <li><a href="#">Event</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Agency</a></li>
          <li><a href="#">Start-up</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>account</h2>
        <ul>
          <li><a href="#">profile</a></li>
          <li><a href="#">user details</a></li>
          <li><a href="#">projects</a></li>
          <li><a href="#">account</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>download our app</h2>
        <p class="download-icon"><i class="fa fa-apple"></i>
        <i class="fa fa-android"></i></p>
        <p class="social"><a href="#"><i class="fa fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-twitter-square"></i></a>
        <a href="#"><i class="fa fa-google-plus-square"></i></a>
        <a href="#"><i class="fa fa-linkedin-square"></i></a></p>
      </div>
      <hr>
      <div class="col-md-12">
        <p>Copyright © 2020 wifinityTV. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>