<!DOCTYPE html>
<html lang="en">
<% include partials/header %>
<body>
    <% include partials/navbar %>
 
  
<div class="section home main_home"">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <div class="home_text">
                    <h1 class="text-white">Get the most fun movie app</h1>
                </div>
                <div class="home_btns">
                    <a href="https://bootstrapthemes.co" target="_blank" class="btn btn-danger ">Download</a>
                    <a href="" class="btn btn-primary m-top-20">Features</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" text-center ">
                    <img src="/images/phone01.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mb-4 p-4">
   <div class="container  mt-4 ">
       <div class="row">
        <div class="col-md-4">
            <div>
                <span class="material-icons text-primary">
                    hd
                    </span>
            </div>
            <div>
                <h3>Usability</h3>
                <p>Sometimes the simplest things are the hardest to find. 
                    So we created a new line for everyday life</p>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <span class="material-icons text-primary">
                    video_settings
                    </span>
            </div>
            <div>
                <h3>Usability</h3>
                <p>Sometimes the simplest things are the hardest to find. 
                    So we created a new line for everyday life</p>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <span class="material-icons text-primary">
                    cast_connected
                    </span>
            <div>
                <h3>Usability</h3>
                <p>Sometimes the simplest things are the hardest to find. 
                    So we created a new line for everyday life</p>
            </div>
        </div>
       </div>
   </div>
</section>



<section class="bg-primary ">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 mt-4">
                <h2 class="text-white">How Download the app?</h2>
                <h5 class="text-white ">Just download the app from the store.
                    Simple, nice and user-friendly application of theweather.
                    Only relevant and useful information.</h5>
                    <div class="mt-5">
                        <a href=""><img src="/images/appstor.png" alt="" /></a>
                        <a href=""><img src="/images/googleplay.png" alt="" /></a>
                    </div>
            </div>
            
            <div class="col-md-6 mt-4">
    
                <img class="" src="/images/appdownload1.png" alt="" />
                    
            </div>
        </div>
    </div>
</section>
      
        <% include partials/footer %>
    
  
    <script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });
    </script>
    
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
