body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}



.carousel {
  margin-bottom: 3rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
height: 60vh;
z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 42rem;
  background-color: rgb(31, 29, 29);
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 50rem;
}
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.image{
  height: 448px !important;
  width:538 !important ;
}
.middleImage{
  height:450px !important ;
}
#contact{
  background: url('/images/bonding-couple-browsing-laptop-after-packing-carton-boxes-4245921.jpg')no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color:#fff;
  padding: 30px;
  margin-top: 40px;
  margin-left: 20px;

}
.material-icons{
  font-size: 120px !important;
}
@media (min-width: 768px) {
 
}



.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
/* footer*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i|Roboto');
footer{
	padding-top: 60px;
	
	background-size: cover;
	background-color:#1A237E;
	height: 360px;
	
}


footer h1{
	text-align: center;
	padding: 20px;
}
footer h2{
	color: #fff;
	text-transform: capitalize;
	font-size: 24px;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 400;
	letter-spacing: 1px;
}
footer a,i{
	color: #fff;
	font-family: 'Roboto';
	text-align: center;
}
footer p{
	color: #fff;
	text-align: center;
	
	
}
footer hr{
	    border-top: 1px solid rgba(210, 90, 90, 0.1);
	width: 100%;
}
footer ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	padding-bottom: 30px;
}
footer li{
	padding: 5px;
	margin: 0;
	text-align: center;
}
footer a{
	padding: 5px;
	text-transform: capitalize;
  font-size: 18px;
  
}
footer a:hover{
	text-decoration: none;
	color: yellow
}

footer .fa{
	
	padding-top: 10px;
	color: #fff;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}
footer .download-icon .fa{
	font-size: 50px;
	padding: 10px;
}
footer .social .fa{
	padding-top: 30px;
	font-size: 30px;
	transition: .9s;
}
footer .social .fa:hover{
	transition: 1s;
	transform: scale(1.1);
	color: #ddd;
}
@media(max-width: 768px){
	footer{
		height: auto !important;
	}
	footer h2{
		font-size: 30px;
	}
}
.cardHeading{
  border-bottom:7px solid rgb(231, 228, 5);
  align-content: center;

  
 
}

/**nav*/
/* Style the links inside the navigation bar */
.navLink a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.navLink a:hover {
  border-bottom: 3px solid rgb(219, 187, 5);
}
.navLink a.active {
  border-bottom: 3px solid rgb(235, 220, 10);
}
/*modal form*/
.modal-login {
  color: #636363;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
}
.modal-login  .form-group {
  position: relative;
}
.modal-login i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}
.modal-login .form-control {
  padding-left: 40px;
}
.modal-login .form-control:focus {
  border-color: #00ce81;
}
.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 3px; 
}
.modal-login .hint-text {
  text-align: center;
  padding-top: 10px;
}
.modal-login .close {
      position: absolute;
  top: -5px;
  right: -5px;
}
.modal-login .btn {
  background: #00ce81;
  border: none;
  line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
  background: #00bf78;
}
.modal-login .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
  justify-content: center;
}
.modal-login .modal-footer a {
  color: #999;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
/*
Home Section style
==================*/

.home{
  background: url(/images/homebg1.jpg) no-repeat top center;
  background-size: cover;
  position: relative;

  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 230px;
}

.home_text h1{
  font-family: 'Ubuntu', sans-serif;
  font-size:3.750rem;
  font-weight: 700;
  line-height: 4.5rem;
}
.home_btns{
  margin-left:-10px;
}
.home_btns a{
  margin-left:10px;
}

